{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Fake website {% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" />

        
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/container.css' %}"/>


    <script>
      (function() {
        const savedTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", savedTheme);
      })();
    </script>
    
  </head>

   <style>
    body {
      font-family: 'inter',sans-serif;
    }
  </style>

  <body class=" bg-[var(--background-color)] text-[var(--text-color)] transition-all duration-300">

     {% include 'navbar.html'%}
     {% include 'home.html' %} 
     {% include 'container.html'%}
     {% include 'middle.html'%} 
      {% include 'footer.html'%} 




{% comment %} <script>
      function toggleTheme() {
        const html = document.documentElement;
      const current = html.getAttribute("data-theme") || "light";
      html.setAttribute("data-theme", current === "dark" ? "Light" : "dark");
    }
        
      
</script> {% endcomment %}


<script>
      function toggleTheme() {
        const html = document.documentElement;
        const current = html.getAttribute("data-theme") || "light";
        const newTheme = current === "dark" ? "light" : "dark";
        html.setAttribute("data-theme", newTheme);
        localStorage.setItem("theme", newTheme);
      }
    </script>



</body>
</html>
