{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="Light">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Fake website {% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" />

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/container.css' %}"/>
    
  </head>

   <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>

  <body class=" bg-[var(--background-color)] text-[var(--text-color)] transition-all duration-300">

     {% include 'navbar.html'%}
     {% include 'home.html' %} 
     {% include 'container.html'%}
     {% include 'middle.html'%} 
      {% include 'footer.html' %} 




<script>
      function toggleTheme() {
        const html = document.documentElement;
      const current = html.getAttribute("data-theme") || "light";
      html.setAttribute("data-theme", current === "dark" ? "Light" : "dark");
    }
        
      
</script>

</body>



</html>
