{% include 'navbar.html' %}


<main class="flex-grow flex items-center justify-center pt-24 px-4 mt-8">
  <div class="absolute top-20 w-full text-center">
    <h1 class="text-3xl font-bold text-gray-800">
      Want to Change the Password?
    </h1>
  </div>

  <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
    <h2 class="text-xl font-semibold mb-4 text-gray-800">Change Password</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}

      <button
        type="submit"
        class="w-full mt-4 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700"
      >
        Change Password
      </button>
    </form>
    <div class="mt-4 text-center">
      <a href="{% url 'settings' %}" class="text-gray-600 hover:underline"
        >← Back to Settings</a
      >
    </div>
  </div>
   
</main>

{% include 'footer.html' %}