<!-- Key Features Section -->
{% load static %}


{% block container %}

<section class="max-w-6xl mx-auto px-4 sm:px-6 xl:px-8 mt-6 py-10 rounded-lg shadow-sm border border-gray-200">


  <div class="max-w-6xl mx-auto px-4  ">
  <h1 class="text-5xl md:text-5xl font-[var(--font-main)] relative text-[var(--text-color)] pl-3 pb-3">
  <span class="border-l-4 border-[var(--primary-color)] pl-3 inline-block translate-y-1">
    Key Features
  </span>
</h1>

  <p class="text-base text-[var(--text-color)] font-[var(--font-main)] pl-4 pr-4 mb-8">
    This Fake News Detector website uses intelligent machine learning models to analyze news content and determine whether it's real or fake. It provides users with quick and accurate results, ensuring a trustworthy digital environment.
  </p>
</div>
  <div class="flex flex-wrap justify-center gap-8">

    <!-- CARD 1 -->
    <div class="bg-[var(--background-color)] border border-[var(--primary-color)] rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="flex flex-col items-center">
        <i class="fas fa-shield-alt text-3xl text-indigo-500"></i>
        <p class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm">
          Real-time content scanning and analysis
        </p>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="bg-[var(--background-color)] border border-[var(--primary-color)] rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="flex flex-col items-center">
        <i class="fas fa-robot text-3xl text-indigo-500"></i>
        <p class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm">
          AI-powered news classification for high accuracy
        </p>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="bg-[var(--background-color)] border border-[var(--primary-color)] rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="flex flex-col items-center">
        <i class="fas fa-book-open text-3xl text-indigo-500"></i>
        <p class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm">
          User-friendly interface for quick input & results
        </p>
      </div>
    </div>

    <!-- CARD 4 -->
    <div class="bg-[var(--background-color)] border border-[var(--primary-color)] rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="flex flex-col items-center">
        <i class="fas fa-lock text-3xl text-indigo-500"></i>
        <p class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm">
           User-friendly interface for quick input & results.
        </p>
      </div>
    </div>

  </div>
</section>

{% endblock %}
