{% load static %}


<style>

 .nav-link {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color:blue; 
    transition: width 0.4s ease;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
  } 

</style>




<nav class="bg-[var(--background-color)] shadow-sm sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-[80px]">

      <!-- Left: Logo -->
      <div class="flex-shrink-0">
        <a href="{% url 'home' %}">
          <img class="h-21 w-[170px] mt-4" src="{% static 'images/logo.png' %}" alt="Logo"/></a>
      </div>

      <!-- Center: Links (hidden on small) -->
      <div class="hidden md:flex space-x-10 mx-auto">
        <a href="{% url 'output' %}" class="nav-link text-[var(--text-color)] font-medium">Verify</a>
        <a href="{% url 'about' %}" class="nav-link text-[var(--text-color)]  font-medium">About</a>
        <a href="{% url 'contact' %}" class="nav-link text-[var(--text-color)]  font-medium">Contact</a>
      </div>

      <!-- Right: Signup Button and Toggle -->
      <div class="flex items-center space-x-6">
        <button class="hidden md:inline-block bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition">Signup</button>

        <!-- Toggle Button -->
        <button  onclick="toggleTheme()"
        class=" text-black  ">
           <i class="fas fa-moon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
