{% load static %}

 <link rel="stylesheet"href="tech.css/">
<div class="wrapper">
  <div class="inner" style="--quantity: 10;">
    <div class="card" style="--index: 0;--color-card: 142, 249, 252;">
      <div class="img">HTML</div>
    </div>
    <div class="card" style="--index: 1;--color-card: 142, 252, 204;">
      <div class="img">CSS</div>
    </div>
    <div class="card" style="--index: 2;--color-card: 142, 252, 157;">
      <div class="img">TAILWIND</div>
    </div>
    <div class="card" style="--index: 3;--color-card: 215, 252, 142;">
      <div class="img">JS</div>
    </div>
    <div class="card" style="--index: 4;--color-card: 252, 252, 142;">
      <div class="img">Vs</div>
    </div>
    <div class="card" style="--index: 5;--color-card: 252, 208, 142;">
      <div class="img">GitHub</div>
    </div>
    <div class="card" style="--index: 6;--color-card: 252, 142, 142;">
      <div class="img">Git</div>
    </div>
    <div class="card" style="--index: 7;--color-card: 252, 142, 239;">
      <div class="img">Monogodb</div>
    </div>
    <div class="card" style="--index: 8;--color-card: 204, 142, 252;">
      <div class="img">Fast Api</div>
    </div>
    <div class="card" style="--index: 9;--color-card: 142, 202, 252;">
      <div class="img">Django</div>
    </div>
  </div>
</div>
