

  :root {
  --primary-color:#8a4af3;       
  --background-color:#ffffff;
  --sec-background-color:'bg-gradient-to-br from-blue-50 to-white';    
  --text-color: #060606;       
  --error-color: #ef4444;      
  --font-main:'inter',sans-serif;
  --sec-background-color:#111827;
} 

 body {
  font-family:var(--font-main);
  background-color: var(--background-color);
   color: var(--text-color);
} 


[data-theme="dark"] {
  --background-color: #111827;
  --sec-background-color:#111827;
  --text-color: #ffffff;
  --primary-color:#8a4af3;          
  --text-color:  #ffffff;       
  --error-color: #ef4444;      
  --font-main:'inter',sans-serif;
}

html {
  scroll-behavior: smooth;
}






