{% load static %} {% block container %}

<section
  class="max-w-6xl mx-auto px-4 sm:px-6 xl:px-8 mt-6 py-10 rounded-lg shadow-sm border border-gray-200"
>
  <div class="max-w-6xl mx-auto px-4">
    <h1
      class="text-5xl md:text-5xl font-[var(--font-main)] relative text-[var(--text-color)] pl-3 pb-3"
    >
      <span class="border-l-4 border-blue-500 pl-3 inline-block translate-y-1">
        Key Features   </span
      >
    </h1>

    <p
      class="text-base text-[var(--text-color)] font-[var(--font-main)] pl-4 pr-4 mb-8"
    >
      This Fake News Detector website uses intelligent machine learning models
      to analyze news content and determine whether it's real or fake. It
      provides users with quick and accurate results, ensuring a trustworthy
      digital environment.
    </p>
  </div>
  <div class="flex flex-wrap justify-center gap-8">
    <!-- CARD 1 -->
    <div
      class="bg-[var(--background-color)] border border-blue-500 rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col items-center">
        <i class="fas fa-shield-alt text-3xl text-blue-500"></i>
        <p
          class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm"
        >
          Real-time content scanning and analysis
        </p>
      </div>
    </div>

    <!-- CARD 2 -->
    <div
      class="bg-[var(--background-color)] border border-blue-500 rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col items-center">
        <i class="fas fa-robot text-3xl text-blue-500"></i>
        <p
          class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm"
        >
          AI-powered news classification for high accuracy
        </p>
      </div>
    </div>

    <!-- CARD 3 -->
    <div
      class="bg-[var(--background-color)] border border-blue-500 rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col items-center">
        <i class="fas fa-book-open text-3xl text-blue-500"></i>
        <p
          class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm"
        >
          User-friendly interface for quick input & results
        </p>
      </div>
    </div>

    <!-- CARD 4 -->
    <div
      class="bg-[var(--background-color)] border border-blue-500 rounded-lg p-6 w-72 shadow hover:shadow-lg transform hover:scale-105 transition duration-300 ease-in-out"
    >
      <div class="flex flex-col items-center">
        <i class="fas fa-lock text-3xl text-blue-500"></i>
        <p
          class="text-[var(--text-color)] text-center font-[var(--font-main)] text-sm"
        >
          User-friendly interface for quick input & results.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  id="features"
  class="relative block px-6 py-10 md:py-20 md:px-10 border-t border-b border-[var(--border-color)] bg-[var(--bg-secondary-color)]/30 mt-10"
>
  <div class="relative mx-auto max-w-5xl text-center">
    <span
      class="text-3xl text-[var(--text-light)] my-3 flex items-center justify-center font-semibold uppercase tracking-wider"
    >
      Why choose us
    </span>

    <p
      class="mx-auto my-4 w-full max-w-xl bg-transparent text-center font-sm leading-relaxed tracking-wide text-xl text-[var(--text-light)]"
    >
      Our templates allow for maximum customization. No technical skills
      required - our intuitive design tools let you get the job done easily.
    </p>
  </div>

  <div
    class="relative mx-auto max-w-7xl z-10 grid grid-cols-1 gap-10 pt-14 sm:grid-cols-2 lg:grid-cols-3"
  >
    <!-- Card 1 -->
    <div
      class="rounded-md border border-blue-500 bg-[var(--card-bg)] p-8 text-center shadow transform hover:scale-105 transition duration-300"
    >
      <div
        class="mx-auto flex h-12 w-12 items-center justify-center rounded-md border border-blue-500"
      >
        <i class="fas fa-palette text-blue-500 text-3xl"></i>
      </div>
      <h3 class="mt-6 font-bold text-[var(--text-light)]">Customizable</h3>
      <p
        class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-[var(--text-light)]"
      >
        Tailor your landing page's look and feel, from the color scheme to the
        font size, to the design of the page.
      </p>
    </div>

    <!-- Card 2 -->
    <div
      class="rounded-md border border-blue-500 bg-[var(--card-bg)] p-8 text-center shadow transform hover:scale-105 transition duration-300"
    >
      <div
        class="mx-auto flex h-12 w-12 items-center justify-center rounded-md border border-blue-500"
      >
        <i class="fas fa-bolt text-blue-500 text-3xl"></i>
      </div>
      <h3 class="mt-6 font-bold text-[var(--text-light)]">Fast Performance</h3>
      <p
        class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-[var(--text-light)]"
      >
        We build our templates for speed in mind, for super-fast load times so
        your customers never waver.
      </p>
    </div>

    <!-- Card 3 -->
    <div
      class="rounded-md border border-blue-500 bg-[var(--card-bg)] p-8 text-center shadow transform hover:scale-105 transition duration-300"
    >
      <div
        class="mx-auto flex h-12 w-12 items-center justify-center rounded-md border border-blue-500"
      >
        <i class="fas fa-tools text-blue-500 text-3xl"></i>
      </div>
      <h3 class="mt-6 font-bold text-[var(--text-light)]">Fully Featured</h3>
      <p
        class="my-4 mb-0 font-normal leading-relaxed tracking-wide text-[var(--text-light)]"
      >
        Everything you need to succeed and launch your landing page, right out
        of the box. No need to install anything else.
      </p>
    </div>
  </div>
</section>

{% endblock %}
